.Header{
  height: 390px;
  background-color: #208EF4;
  padding: 10px;
  border-radius: 0 0 40px 40px;
  margin-bottom: 20px;
}

.busstop-title {
  font-size: 100px;
  color: white;
  margin-top: 5rem;
  margin-left: 30rem;
}
.busstop-name {
  color: black;
}

#logo{
  width: 300px;
}

.header-top {
  display: flex;
}

.time-box{
  font-size: xx-large;
  color: white;
  margin: 30px;
  margin-left: auto;
}